@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body{
    background-color: #212121;
}

#content{
    width: 50%;
    margin-left:auto;
    margin-right: auto;
}

#content p{
    color: white;
    font-size: 36px;
    font-family: 'Roboto Mono', monospace;
}

#contact{
    width: 50%;
    margin-left:auto;
    margin-right: auto;
}

#contact ul li{
    display: inline-block;
    margin-right: 32px;
    margin-top: 64px;
}

#contact img{
    width: 32px;
}

@media screen and (max-device-width:680px) {
    #contact img{
        width: 24px;
    }
    #content{
        width: 65%;
    }
    
}