@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body{
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
    height: 100%;
    width: 100%;
}

#header{
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 150px;
}

#header p{
    color: white;
    font-size: 36px;
    font-family: 'Roboto Mono', monospace;
}

#contact{
    width: 50%;
    margin-left:auto;
    margin-right: auto;
}

#contact ul li{
    display: inline-block;
    margin-right: 32px;
    margin-top: 64px;
}

#contact img{
    width: 32px;
}

@media screen and (max-device-width:680px) {
    #contact img{
        width: 24px;
    }
    #header{
        width: 65%;
    }
    
}